*{
    padding: 0;
    margin: 0;
  
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(19, 17, 17);
    background-color: rgb(248, 242, 242);
}

.container{
    margin: 0px auto;
    max-width: 960px;
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
     /* border-bottom:1px solid #f5f5f5 ;  */
    padding: 20px 0px;
    transition: all 0.5s ease-in-out;
    z-index: 99;
   
}
 header a{
    text-decoration: none;
    color: #000;
}
.test{
    width: 100%;
  position:fixed;
  top: 0%;
  left: 0%;
  padding: 20px 8%;
  background: #f1ededd6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  /* height: 50px; */
}

#banner{
    height: 712px;
    width: 100%;
    background-size: cover;
}

/* banner */








/* chu chay */
.marquee {
    height: 50px; 
    overflow: hidden;
    position: relative;
   }
   .marquee p{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%); 
    transform:translateX(100%);
    /* Apply animation to this element */ 
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 25s linear infinite;
    animation: scroll-left 25s linear infinite;
   }
  
   /* Move it (define the animation) */
   @-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes scroll-left {
    0%   { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%);   
    }
    100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
    }
   }


   .marquee {
    height: 150px;
    background-color: rgb(253, 255, 254);
    margin: 10px 0px;
   }
   .marquee p{
    font-family: 'Rubik Glitch', cursive;
    font-size: 100px;
    margin-top: 50px;
    padding-right: 1px;
    color: #000;
   }
   /* san pham */
#sp1_h1:hover{
    
}

.ovuong{
    /* border: 1px solid black;
    height: 30px;
    width: 40%;
    content: none;
     background: #000; */
    /* color: yellow;  */
   }
   .sanpham-muahang{
color: rgb(248, 242, 242);
    height: 30px;
    width: 40%;

   }
.ovuong .a1{
 border: 1px solid black;
 content: none;
 background: #000;
 color: yellow;
}


.spham{
    border: 1px solid black;
    height: 630x;
}
.spham input{
  border: 1px solid back;
}
.discount{
    background: red;
}
.giacu{
 
    /* background:#000;
height: 1px;
background-attachment: fixed;
background-position: center;  */

clip-path: polygon(0 0, 0% 100%, 0 63%, 0 55%, 100% 53%, 100% 59%, 0 59%, 0 100%, 100% 100%, 100% 0%);
background: rgb(161, 139, 139);

}



/* content */

#content-form{
    margin-top: 75px;
}

/* cart */

#cart{
    margin-top: 75px;
}

/*----------------------------------------footer------------------------------*/
.foot {
	border-top: 1em solid rgb(246, 244, 244);
	background-color: rgb(231, 193, 193);
	
 } 
.hotline  {
  
  	margin-bottom: 2em;
}
.email {
	margin-bottom: 2em;
}
.emailbusiness{
	margin-top: 2em;
}
h4 {
	margin-bottom: 2em;
	color:  #a8a8a8;
}
.foot .col-md-2 {
	margin: 0 4em;
    width: 14.666667%;
	
}
.col-md-2 h3 {
	margin-top: 1em;
}
.ft-icon i {
	font-size: 1.5em;
	margin-right: 0.7em;
}
.sp h4 {
	margin-top: 1em;
}
.sanpham {
 position: absolute ;
 margin-top: 50px;
}