.admin-shopping-cart{
    padding-top: 50px;
    padding-left: 50px;

}
.admin-shopping-cart th{
    padding: 10px 30px;
}

.admin-shopping-cart td{
    padding: 10px 30px;
}
.themsp{
    position:relative;
    top:35px;
    left: 1215px;
}
.admin-insert{
    padding-top: 30px;
    padding-left: 50px;
}
.admin-insert th{
    padding: 5px 30px;
}

.admin-insert td{
    padding: 5px 30px;
}